<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta http-equiv='refresh' content='0; URL=/view'>
    </head>
</head>

<body>

    <p>Redirecting</p>

</body>

</html>
<html lang="en">
<%- include('./partials/footer.ejs') %>