<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <head>
        <meta http-equiv='refresh' content='0; URL=/view'>
    </head>
</head>

<body>
<header>
    <div class="overlay">
        <h1>Event Manager</h1>

    </div>
</header>
<div class="fullpage">
    <div id="overlay" class="parent-element">
        <h1 class="page-title">Your event details are loading!</h1>
        <div class="wrapper">
            <div class="loader"></div>
            <div class="content parent-element">
                <div class="inner-content element"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
<html lang="en">
<%- include('./partials/footer.ejs') %>
